* {
    -default-width: 250;
}

VBox {
    -fx-pref-width: -default-width;
}

.label {
    -fx-font-size: 14px;
    -fx-pref-width: 1000;
}

.button {
    -fx-font-size: 16px;
}

TextField {
    -fx-font-size: 16px;
}

.bottomLine {
    -fx-pref-height: 40;
}

.bottomLineControl {
     -fx-max-height: 40;
     -fx-min-height: 40;
 }

.exerciseLabel {
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 0 5 0 5;
    -fx-font-weight: bold;
 }

 .exerciseRow {
    -fx-border-color: black;
    -fx-border-width: 0.5;
 }

.legsLabel {
    -fx-background-color: #F8A0A0;
}

.legsLabel:hover {
    -fx-background-color: #F89BA0;
}

.legsModificationLabel: hover {
    -fx-background-color: #F88CA0;
}

.coreLabel {
    -fx-background-color: #FFD966;
}

.coreLabel:hover {
    -fx-background-color: #FFD466;
}

.coreModificationLabel: hover {
    -fx-background-color: #FFC666;
}

.otherLabel {
    -fx-background-color: #A9D08E;
}

.otherLabel: hover {
    -fx-background-color: #A9CB8E;
}

.otherModificationLabel: hover {
    -fx-background-color: #A9B68E;
}

.removeLabel {
    -fx-min-width: 20;
    -fx-max-width: 20;
}

.invisibleControl {
    -fx-min-width: 1;
    -fx-max-width: 1;
}

.amountLabel {
    -fx-min-width: 40;
    -fx-max-width: 40;
    -fx-font-size: 12px;
}

.editLabel {
    -fx-min-width: 30;
    -fx-max-width: 30;
}

.editLabel:hover {
}

.errorBorder {
    -fx-border-color: red;
    -fx-border-width: 3;
}